src/main/resources/wsdl/event.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://bis.mil.rag/"
                  targetNamespace="http://bis.mil.rag/">

    <wsdl:types>
        <xs:schema targetNamespace="http://bis.mil.rag/" elementFormDefault="qualified">
            <xs:include schemaLocation="../xsd/event.xsd"/>
        </xs:schema>
    </wsdl:types>


    <wsdl:message name="createRequest">
        <wsdl:part name="request" element="tns:createEventRequest"/>
    </wsdl:message>
    <wsdl:message name="getEventsRequest">
        <wsdl:part name="request" element="tns:getEventsRequest"/>
    </wsdl:message>
    <wsdl:message name="getEventRequest">
        <wsdl:part name="request" element="tns:getEventRequest"/>
    </wsdl:message>
    <wsdl:message name="updateRequest">
        <wsdl:part name="request" element="tns:updateEventRequest"/>
    </wsdl:message>
    <wsdl:message name="deleteRequest">
        <wsdl:part name="request" element="tns:deleteEventRequest"/>
    </wsdl:message>
    <wsdl:message name="eventResponse">
        <wsdl:part name="response" element="tns:eventResponse"/>
    </wsdl:message>
    <wsdl:message name="getEventsResponse">
        <wsdl:part name="response" element="tns:getEventsResponse"/>
    </wsdl:message>


    <wsdl:portType name="EventClient">
        <wsdl:operation name="create">
            <wsdl:input message="tns:createRequest"/>
            <wsdl:output message="tns:eventResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getEvents">
            <wsdl:input message="tns:getEventsRequest"/>
            <wsdl:output message="tns:getEventsResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getEvent">
            <wsdl:input message="tns:getEventRequest"/>
            <wsdl:output message="tns:eventResponse"/>
        </wsdl:operation>

        <wsdl:operation name="update">
            <wsdl:input message="tns:updateRequest"/>
            <wsdl:output message="tns:eventResponse"/>
        </wsdl:operation>

        <wsdl:operation name="delete">
            <wsdl:input message="tns:deleteRequest"/>
            <wsdl:output message="tns:eventResponse"/>
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="EventBinding" type="tns:EventClient">
        <soap:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
        <wsdl:operation name="create">
            <soap:operation soapAction="http://bis.mil.rag/" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getEvents">
            <soap:operation soapAction="http://bis.mil.rag/" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getEvent">
            <soap:operation soapAction="http://bis.mil.rag/" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="update">
            <soap:operation soapAction="http://bis.mil.rag/" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="delete">
            <soap:operation soapAction="http://bis.mil.rag/" style="document"/>
            <wsdl:input>
                <soap:body parts="request" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="response" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>


    <wsdl:service name="EventService">
        <wsdl:port name="EventPort" binding="tns:EventBinding">
            <soap:address location="http://localhost:8080/api/events"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
